source https://www.nuget.org/api/v2/

nuget Auth0-ASPNET
nuget Microsoft.AspNet.WebApi 5.2.3 framework: >= net46
nuget Microsoft.AspNet.WebApi.Client 5.2.3 framework: >= net46
nuget Microsoft.AspNet.WebApi.Core 5.2.3 framework: >= net46
nuget Microsoft.AspNet.WebApi.Cors
nuget Microsoft.AspNet.WebApi.WebHost 5.2.3 framework: >= net46
nuget Microsoft.Azure.AppService.ApiApps.Service 0.9.64 framework: >= net46
nuget Microsoft.Azure.KeyVault.Core 1.0.0
nuget Microsoft.Azure.WebJobs 1.0.1
nuget Microsoft.Azure.WebJobs.Core 1.0.1
nuget Microsoft.Azure.WebJobs.ServiceBus 1.0.1 framework: >= net452
nuget Microsoft.Data.Edm 5.6.4
nuget Microsoft.Data.OData 5.6.4
nuget Microsoft.Data.Services.Client 5.6.4
nuget Microsoft.Web.Infrastructure 1.0.0.0 framework: >= net46
nuget Microsoft.Web.WebJobs.Publish 1.0.7
nuget Microsoft.WindowsAzure.ConfigurationManager 3.1.0
nuget Newtonsoft.Json 7.0.1
nuget Selenium.Support 2.47.0
nuget Selenium.WebDriver 2.47.0
nuget SlowCheetah 2.5.15 framework: >= net452
nuget Swashbuckle 5.2.2 framework: >= net46
nuget Swashbuckle.Core 5.2.2 framework: >= net46
nuget System.IdentityModel.Tokens.Jwt 4.0.2.206221351 framework: >= net46
nuget System.Spatial 5.6.4
nuget WebActivatorEx 2.0.6 framework: >= net46
nuget WebApi.JsonWebToken
nuget WindowsAzure.ServiceBus 3.0.3
nuget WindowsAzure.Storage 6.0.0