source https://www.nuget.org/api/v2/

nuget Auth0-ASPNET
nuget Microsoft.AspNet.WebApi framework: >= net46
nuget Microsoft.AspNet.WebApi.Cors
nuget Microsoft.Azure.AppService.ApiApps.Service framework: >= net46
nuget Microsoft.Azure.WebJobs.ServiceBus
nuget Microsoft.Rest.ClientRuntime
nuget moq
nuget Selenium.Support
nuget Swashbuckle framework: >= net46
nuget WebApi.JsonWebToken
nuget Microsoft.Azure.AppService